<%= form_with model: Message.new, url: messages_path, class: "row row-cols-lg-auto g-3 align-items-center", method: :post, remote: true do |form| %>
   <div class="col-12">
      <%= form.text_field :content, placeholder: "Type your message......", class: "form-control" %>
  </div>

  <div class="col-12">
     <%= form.submit "send",  class: "form-control" %>
  </div>
<% end %>