.msg-form {
    position: fixed;
    bottom: 0;
    width: 90%
  }

  .col-md-9 {
    height: 100vh;
    overflow: scroll;
  }

  .msg-content {
    width: 63%;
    margin-right: 5px;
  }

  .message-box {
    width: fit-content;
    max-width: 40%;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #555555 ;
    padding: 10px
  }

  .bg-color {
    background-color: slategray;
  }

  .bgc{
    background-color:#36454f
  }
   
  .bgcol{
    background-color:#36454f
  }

